body{
  margin: 0;
  font-family: sans-serif;
}
.allTasks{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.task{
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 20px;
  width: 300px;
  margin-right: 20px;
} 
.task:last-child{
  margin-bottom: 0;
}
.task__title{
  margin: 0;
  margin-bottom: 10px;
  color: brown;
  font-size: 18px;
}
.task__desc{
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 100%;
  word-wrap: break-word;
}
.task__ready{
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 16px;
}
.task__id{
  font-size: 14px;
  color:dimgray;
  margin-top: 20px;
}
.ok{
  color: green;
}
.not_ok{
  color: red !important;
}

.group{
  width: 300px;
  margin-bottom: 40px;
}
.patch{
  margin-bottom: 0;
}
.alert.alert-success, .alert.alert-danger{
  position: fixed;
  top: -64px;
  right: 0;
  width: 400px;
  margin-bottom: 0;
  z-index: 99;
  opacity: 0.9;
}
.badge{
  margin-bottom: 15px;
}
.badge_all{
  display: block !important;
  width: fit-content;
}
.input-group{
  margin-bottom: 10px;
}
.custom-control{
  margin-bottom: 10px;
}
.aside{
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px 20px;
  background-color: aliceblue;
  border-radius: 0 0 0 15px;
}